.form-group {
    min-height: 1rem;
}

.switcher-control {
    float:right;
}

label[data-type="boolean"] {
    float:left;
}

input[type="file"] {
    position: absolute;
    left: -800px;
    top: -800px;
}

.note-editor input[type="file"] {
    position: relative!important;
    left: 0px!important;
    top: 0px!important;
}

.dropzone-active {
    color:#2b5a92;
    border-radius: .25rem;
    border: 2px dashed #2b5a92;
}

.picture .preview img {
    width:auto;
    height: 200px;
}

.picture.is-invalid {
    border-color: #b76ba3;
}

.picture .loader {
    display: none;
}

.picture .placeholder {
    display: none;
}