.rows-form table thead tr th:last-child {
    text-align: center;
}

.invalid-feedback {
    display: block!important;
    text-align: left;
}

.rows-form .switcher-control {
    float: none;
}

.rows-form td {
    vertical-align: middle;
    text-align: center;
}

.rows-form .select2 {
    text-align: left;
}